.my-resume-wrap {
  font-family: 'Courier', serif;
  h1 {
    width: fit-content;
    padding: 0 20px;
    margin: 0 auto;
    color: #000;
    font-size: 5rem;
    cursor: context-menu;
  }
  ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .timeline {
    margin-top: 100px;
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    &::before {
      top: 20px;
      bottom: 0;
      position: absolute;
      content: " ";
      width: 2px;
      background-color: #e6e6e6;
      left: 50%;
      margin-left: 0;
    }
    @media only screen and (max-width: 600px) {
      &::before {
        left: 10px;
      }
    }

      li {
        margin-bottom: 20px;
        position: relative;
        &::before,
        &::after {
          content: " ";
          display: table;
        }
        &::after {
          clear: both;
        }
        div {
          h3 {
            display: inline-block;
            padding: 7px 15px;
            font-size: 18px;
            text-transform: uppercase;
            letter-spacing: 5px;
            font-weight: bold;
            background: #e6e6e6;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            border-radius: 4px;
            margin-top: 0;
          }
          @media only screen and (max-width: 600px) {
            h3 {
              float: left;
            }
          }
        }
      }

    .timeline-unverted,
    .timeline-inverted {
      text-align: right;
      .timeline-badge {
        color: #000000;
        width: 44px;
        height: 44px;
        line-height: 50px;
        font-size: 1.4em;
        text-align: center;
        position: absolute;
        top: 40px;
        left: 50%;
        margin-left: -21px;
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
      }
      .timeline-panel {
        width: 45%;
        float: left;
        margin-bottom: 0;
        position: relative;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        border-radius: 4px;
        .timeline-heading {
          display: flex;
          flex-direction: column;
          .timeline-title {
            margin-top: 0;
            background: unset;
            font-weight: 900;
            padding: 7px 0;
          }
          .company {
            display: block;
            margin-bottom: 20px;
            font-size: 16px;
            color: #ffffff;
            font-weight: 900;
          }
        }
        .timeline-body {
          p {
            margin-bottom: 0;
            font-weight: 900;
            a {
              color: white;
              text-decoration: none;
            }
          }
        }
      }
    }
    .timeline-inverted {
      text-align: left;
      .timeline-panel {
        float: right;
      }
    }
    @media only screen and (max-width: 600px) {
      .timeline-unverted {
        text-align: left;

        .timeline-panel {
          float: right;
        }
      }
      .timeline-unverted,
      .timeline-inverted {
        .timeline-badge {
          left: 10px;
        }
        .timeline-panel {
          width: 80%;
          //margin-left: 10px;
        }
      }
    }

    .text-center {
      text-align: center;
    }
  }
  @media only screen and(max-width: 680px) {
    h1 {
      font-size: 4rem;
    }
  }
  @media only screen and(max-width: 510px) {
    h1 {
      font-size: 3rem;
    }
  }
}
