.menu-wrap {
  font-family: 'Roboto', sans-serif;

  .menu-list {
    display: flex;
    flex-direction: column;
    span {
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: -0.5px;
      cursor: pointer;
      transition: all 0.5s;

      a {
        text-decoration: none;
        color: #f0b090;
      }
    }

    span:last-child {
      margin-bottom: 0;
    }

    span:hover {
      letter-spacing: 2px;
      text-decoration: line-through;
    }

    .cursorTrail {
      height: 20px !important;
      width: 20px !important;
    }
  }

  @media only screen and(max-width: 960px) {
    .menu-list {
      display: none;
    }
  }
}
