.menu-wrap {
  font-family: 'Roboto', sans-serif;

  img {
    transform: translateX(-10px);
    //filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%);
  }
  .logo {
    height: 80px;
    width: 80px;
    background-color: #f0b090;
    transform: translateX(-10px);
    -webkit-mask: url('../../assets/logos/logo.svg') no-repeat center;
    mask: url('../../assets/logos/logo.svg') no-repeat center;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    span {
      //margin-bottom: 10px;
      //text-transform: uppercase;
      //letter-spacing: -0.5px;
      //cursor: pointer;
      //transition: all 0.5s;
      //
      //a {
      //  text-decoration: none;
      //  color: #f0b090;
      //}
    }

    //span:last-child {
    //  margin-bottom: 0;
    //}
    //
    //span:hover,
    //span:active {
    //  letter-spacing: 2px;
    //  text-decoration: line-through;
    //}

    .cursorTrail {
      height: 20px !important;
      width: 20px !important;
    }
  }

  .hamburger-menu {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease-in-out;
    z-index: 11;
    //border: 3px solid white;
    .menu-btn {
      cursor: pointer;
      width: 30px;
      height: 6px;
      background: white;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: all 0.5s ease-in-out;
      z-index: +11;
    }
    .menu-btn::before,
    .menu-btn::after {
      content: '';
      position: absolute;
      width: 40px;
      height: 6px;
      background: white;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: all 0.5s ease-in-out;
    }
    .menu-btn::before {
      transform: translateY(-12px);
    }
    .menu-btn::after {
      transform: translateY(12px);
    }

    .menu-items {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 0;
      width: 100%;
      background-color: black;
      opacity: 0.95;
      z-index: 10;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: 'Courier', serif;
      font-weight: bold;
      span {
        margin-bottom: 15px;
        font-size: 1.5rem;
        text-transform: uppercase;
        //animation: alternate;
        a {
          text-decoration: none;
          transition: all 350ms ease-out;
        }
      }
      span:last-child {
        margin: 0;
      }
    }
    .menu-open {
      height: 100%;
    }
  }

  //Animation

  .hamburger-menu.open .menu-btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
  }
  .hamburger-menu.open .menu-btn::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .hamburger-menu.open .menu-btn::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  @media only screen and(max-width: 960px) {
    .menu-list {
      display: none;
    }
    .hamburger-menu {
      display: flex;
    }
  }
  .menu-list-item {
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: -0.5px;
    cursor: pointer;
    transition: all 0.5s;

    a {
      text-decoration: none;
      color: #f0b090;
    }
  }
  .menu-list-item:last-child {
    margin-bottom: 0;
  }

  .menu-list-item:hover,
  .menu-list-item:active {
    letter-spacing: 2px;
    text-decoration: line-through;
  }

  .selected {
    letter-spacing: 2px;
    text-decoration: line-through;
    cursor: default;
  }
}
