.App {
  height: 1000vh;
  overflow: hidden !important;
  //background: linear-gradient(to top, rgb(217, 166, 141), rgb(24, 19, 16), rgb(191, 101, 66), rgb(0, 74, 98));
  transition: all 350ms ease-out;

  &::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  .menu-container {
    position: fixed;
    top: 120px;
    left: 80px;
    z-index: 3;
  }
  .header-container {
  }
}
