.App {
  height: 1000vh;
  overflow: hidden !important;
  //background: linear-gradient(to top, rgb(217, 166, 141), rgb(24, 19, 16), rgb(191, 101, 66), rgb(0, 74, 98));
  transition: all 350ms ease-out;

  &::-webkit-scrollbar {
    width: 20px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }

  .stage-3d {
    position: fixed;
    bottom: -1.3rem;
    width: 100%;
    height: 200px;
    perspective: 7.5rem;
    z-index: 2;
    pointer-events: none;
    transform: scale(1);
  }

  .stage-3d.top {
    top: -1.3rem;
    bottom: inherit;
  }
  .hidden {
    //visibility: hidden;
  }

  .menu-container {
    position: fixed;
    top: 120px;
    left: 80px;
    z-index: 4;
  }
  .header-container {
    height: 150vh;
  }
  .about-me-container {
    width: calc(100% - 400px);
    margin: 0 auto;
    height: 150vh;
  }
  .increased-height {
    height: 210vh !important;
  }
  .my-resume-container {
    width: calc(100% - 400px);
    margin: 0 auto;
  }

  @media only screen and(max-width: 960px) {
    .cursorTrail {
      display: none;
    }
    .menu-container {
      top: 40px;
      left: unset;
      right: 40px;
    }
    .about-me-container,
    .my-resume-container {
      width: calc(100% - 200px);
      margin: 0 auto;
    }
  }

  @media only screen and(max-width: 600px) {
    .about-me-container,
    .my-resume-container {
      width: calc(100% - 60px);
      margin: 0 auto;
    }
  }
}
