.header-wrap {
  span {
    font-family: 'Rock Salt', cursive;
    color: #f0b090;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-5deg);
    font-size: 2.5rem;
    z-index: 3;
    cursor: context-menu;
    width: 99%;
    text-align: center;
  }
  .handles {
    display: flex;
    width: fit-content;
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    a {
      margin-right: 15px;
      color: #f0b090;
      .handle {
        height: 35px;
        width: 35px;
        transition: all .5s;
      }
      .handle:hover {
        transform: translateY(-5px);
      }
    }
    a:last-child {
      margin-right: 0;
    }
  }

  @media only screen and(max-width: 960px) {
    span,
    .handles {
      z-index: 0;
    }
  }

  @media only screen and (max-width: 600px ) {
    span {
      font-size: 1.785rem;
    }
  }
}
